<aside class="main-sidebar">
	<section class="sidebar">

		{* Sidebar user panel *}
		<div class="user-panel">
			<div class="pull-left info">
				<p>{{ @lang.backend.admin }}</p>
				<a href="account"><i class="fa fa-circle text-success"></i> {{ @lang.backend.online }}</a>
			</div>
		</div>

		{* Search form (hidden now) *}
		{*
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search..."/>
				<span class="input-group-btn">
					<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
		*}

		<ul class="sidebar-menu">
		
			<li class="header">{{ @lang.backend.menu_main }}</li>
			<repeat group="{{ @menu }}" value="{{ @parent }}">
				<check if="{{ empty(@parent.children) }}">
					<true>
						<li><a href="{{ @parent.url }}"><i class="{{ @parent.icon }}"></i> {{ @parent.name }}</a></li>
					</true>
					<false>
						<li class="treeview">
							<a href="#">
								<i class="{{ @parent.icon }}"></i> {{ @parent.name }} <i class="fa fa-angle-left pull-right"></i>
							</a>
							<ul class="treeview-menu">
								<repeat group="{{ @parent.children }}" value="{{ @child }}">
									<li><a href="{{ @child.url }}"><i class="fa fa-circle-o"></i> {{ @child.name }}</a></li>
								</repeat>
							</ul>
						</li>
					</false>
				</check>
			</repeat>

			{*
			<li><a href=""><i class="fa fa-home"></i> {{ @lang.home }}</a></li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-cogs"></i> <span>{{ @lang.example }}</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="#"><i class="fa fa-circle-o"></i> {{ @lang.example }} 1</a></li>
					<li><a href="#"><i class="fa fa-circle-o"></i> {{ @lang.example }} 2</a></li>
				</ul>
			</li>
			<li><a href="logout"><i class="fa fa-sign-out"></i> {{ @lang.sign_out }}</a></li>
			*}

			<li class="header">{{ @lang.backend.menu_links }}</li>
			<li><a href="{{ @BASE }}"><i class="fa fa-circle-o text-info"></i> {{ @lang.frontend_site }}</a></li>

		</ul>

	</section>
</aside>